@charset "utf-8";
/* 언어설정 */

/* 웹폰트 가져오기 */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); */

/* 스킵 네비게이션 */
#skip {
    position: relative;
}

#skip a {
    position: absolute;
    left: 0;
    top: -35px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    line-height: 20px;
    width: 150px;
    text-align: center;
    padding: 3px;
}

#skip a:active,
#skip a:focus {
    top: 0;
}


/* 레이아웃 작업 */
#wrap {
    /* width: 100%; */
    color: #333;
    /* font-size: 30px; */
    text-align: center;
}

#head {
    width: 100%;
    height: 325px;
    /* background: url(../img/network2.jpg) repeat-x; */
    background: rgb(210, 224, 233);
    transition: 1s;
    /* background-position: center -75px; */
}

#head:hover {
    /* 헤더 마우스 오버시 효과 */
    /* opacity: 0.7; */
    /* filter: brightness(70%); */
    /* transition: 1s; */
    /* transform: scale(1.05); */
}


#cont {
    /* width: 100%;
    height: 800px;
    background: #777; */
}

#footer {
    width: 100%;
    height: 200px;
    background: #555;
}

/* container */
.container {
    width: 990px;
    margin: 0 auto;
    height: inherit;
    /* background: rgba(255, 255, 255, 0.3); */
}

/* cont */
#cont_nav {
    /* width: 100%;
    height: 200px;
    background: #111; */
    background: rgb(210, 224, 233);
}

#cont_tit {
    width: 100%;
    height: 200px;
    /* background: #222; */
}

#cont_bn {
    width: 100%;
    height: 200px;
    background: #fff;
}

#cont_conts {
    width: 100%;
    height: 200px;
    background: #444;
}

/* 헤더 */
.head-gnb .head_navicon {
    border: none;
    background: transparent;
    cursor: pointer;
}

.head-gnb .head_navicon:hover {
    filter: brightness(30);
    transition: 0.3s;
}


.head-gnb {
    display: inline-block;
}

.head-gnb a {
    color: #155991;
    padding: 10px 25px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.head-gnb a:hover {
    color: #fff;
    transition: 0.5s;
}

.head-gnb .head-gnb-tit01 {
    margin-right: 13px;
}

.head-gnb .head-gnb-tit02 {
    margin-right: 15px;
}

.head-gnb .head-gnb-tit03 {
    margin-right: 15px;
}

.head-gnb .head-gnb-tit04 {
    margin-right: 22px;
}

.head .head-main_logo {
    font-size: 22px;
    text-align: center;
    color: #333;
    padding-top: 15px;
}

/* 헤더로고 */
.head .head-main_logo .head-top a .main_logo {
    background: url(../img/nia_logo01.png) no-repeat top center;
    display: inline-block;
    color: transparent;
    width: 420px;
    height: 40px;
    margin-top: 10px;
    background-size: 240px auto;
}

/* 헤더 검색 */

/* 헤더 탑로고 */
.head-top_logo

/* 헤더 메뉴 */
.head-main_logo a {
    display: block;
    /* background: #2698cb; */
    font-size: 18px;
    color: #333;
}

.head-icon {
    text-align: center;
    display: flex;
    margin-top: 44px;
}

.head-icon a {
    display: inline-block;
    text-align: center;
}

.head-icon a .bn {
    display: inline-block;
    /* font-size: 13px; */
    width: 125px;
    height: 90px;
    background: url(../img/main_linkbanner.png) no-repeat center top;
    background-size: 130px auto;
    margin: 0 auto;
}



/* 헤더 아이콘 텍스트 */
.head-icon a strong {
    font-size: 15px;
    display: block;
    font-weight: 900;
    padding: 10px 0 5px 3px;
    text-align: center;
    color: #155991;
}

.head-icon a:hover,
.head-icon a strong:hover {
    transition: 0.3s;
    filter: drop-shadow(3px 4px 2px gray);
    color: #fff;
}

/* 헤더 탑 로고 */
.head-top_logo .top_logo_digital {
    background: url(../img/head-logo_digital.png) no-repeat center top;

}

.head-top_logo .top_logo_govern {
    background: url(../img/head-logo_govern.png) no-repeat center top;

}


/* 헤더 아이콘 이미지 */
/* 
.head-icon a .bn.icon1 {
    background-position: 0 0;
}

.head-icon a .bn.icon2 {
    background-position: 0 -450px;
}

.head-icon a .bn.icon3 {
    background-position: 0 -630px;
}

.head-icon a .bn.icon4 {
    background-position: 0 -270px;
}

.head-icon a .bn.icon5 {
    background-position: 0 -360px;
}

.head-icon a .bn.icon6 {
    background-position: 0 -90px;
}

.head-icon a .bn.icon7 {
    background-position: 0 -180px;
}

.head-icon a .bn.icon8 {
    background-position: 0 -540px;
} */

/* 전체메뉴 */

.nav {
    /* 메뉴 클릭 시  active하고, 그 전에는 display:none 할 예정 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    line-height: 22px;
    font-size: 15px;
}

.nav .submenu {
    /* float: left; */
    width: 15%;
}

/* .nav .submenu:last-child {
    width: 10%;
    float: left;
} */

/* ie9부터 사용가능 */