@charset "utf-8";
/* 언어설정 */

/* 웹폰트 가져오기 */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); */

/* 스킵 네비게이션 */
#skip {
    position: relative;
}

#skip a {
    position: absolute;
    left: 0;
    top: -35px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    line-height: 20px;
    width: 150px;
    text-align: center;
    padding: 3px;
}

#skip a:active,
#skip a:focus {
    top: 0;
}


/* 레이아웃 작업 */
#wrap {
    /* width: 100%; */
    color: #333;
    /* font-size: 30px; */
    text-align: center;
}

#head {
    width: 100%;
    height: 325px;
    /* background: url(../img/network2.jpg) repeat-x; */
    /* background: rgb(210, 224, 233); */
    transition: 1s;
    /* background-position: center -75px; */
}

#head:hover {
    /* 헤더 마우스 오버시 효과 */
    /* opacity: 0.7; */
    /* filter: brightness(70%); */
    /* transition: 1s; */
    /* transform: scale(1.05); */
}


#cont {
    /* width: 100%;
    height: 800px;
    background: #777; */
}

#footer {
    width: 100%;
    height: 200px;
    background: #555;
}

/* container */
.container {
    width: 1000px;
    margin: 0 auto;
    height: inherit;
    /* background: rgba(255, 255, 255, 0.3); */
}

/* cont */
#cont_nav {
    /* width: 100%;
    height: 200px;
    background: #111; */
    background: rgb(210, 224, 233);
}

#cont_tit {
    width: 100%;
    height: 200px;
    /* background: #222; */
}

#cont_bn {
    width: 100%;
    height: 200px;
    background: #fff;
}

#cont_conts {
    width: 100%;
    height: 200px;
    background: #444;
}

/* 헤더 */

.head {
    display: flex;
}


.head-gnb {
    display: flex;
    justify-content: space-between;
}


/* 메뉴버튼 */
.head-gnb .head_navicon {
    border: none;
    background: transparent;
    cursor: pointer;
}

.head-gnb .head_navicon:hover {
    filter: brightness(30);
    transition: 0.3s;
}


.head-gnb a {
    color: #0d4069;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.head-gnb a:hover {
    color: #007dff;
    transition: 0.5s;
}



.head .head-main_logo {
    /* font-size: 22px;
    text-align: center; */
    /* color: #333; */
    /* display: inline-block; */
    padding-top: 22px;
    margin-left: -25px;
}

/* 헤더로고 */
.head .head-main_logo .head-top a .main_logo {
    background: url(../img/nia_logo01.png) no-repeat top center;
    display: inline-block;
    color: transparent;
    width: 350px;
    height: 29px;
    background-size: 240px auto;
}

/* 헤더 검색 */

.head .head-search {
    display: inline-block;
    margin-top: 16px;
    border: 2px solid gray;
    border-radius: 30px;
    width: 320px;
    height: 38px;
    margin-left: -35px;
}

.head-search input {
    border: none;
    text-align: left;
    width: 73%;
    height: 38px;
}

.head-search input:active {
    border: none;
}

.head-search .search-btn {
    background: url(../img/seach_icon.png) no-repeat 0 center;
    position: relative;
    width: 50px;
    height: 38px;
    border: none;
    cursor: pointer;
    text-align: right;
    font-weight: 800;
}

/* 헤더 탑 로고 */
.head-top_logo {
    display: flex;
    padding: 18px 5px 5px 5px;
}

.head-top_logo .top_logo_digital {
    background: url(../img/head-logo_digital.png) no-repeat center top;
    width: 130px;
    height: 30px;
    background-size: 90px auto;

}

.head-top_logo .top_logo_govern {
    background: url(../img/head-logo_govern.png) no-repeat center top;
    width: 130px;
    height: 39px;
    background-size: 90px auto;
}

/* 헤더 바로가기  */
.head .head-right_link {
    font-weight: 700;
    margin-top: 26px;
}

.head-icon {
    /* text-align: center;
    display: flex;
    margin-top: 44px; */
}

.head-icon a {
    /* display: inline-block;
    text-align: center; */
}

.head-icon a .bn {
    /* display: inline-block;
    width: 125px;
    height: 90px;
    background: url(../img/main_linkbanner.png) no-repeat center top;
    background-size: 130px auto;
    margin: 0 auto; */
}



/* 헤더 아이콘 텍스트 */
/* .head-icon a strong {
    font-size: 15px;
    display: block;
    font-weight: 900;
    padding: 10px 0 5px 3px;
    text-align: center;
    color: #155991;
}

.head-icon a:hover,
.head-icon a strong:hover {
    transition: 0.3s;
    filter: drop-shadow(3px 4px 2px gray);
    color: #fff;
} */



/* 헤더 아이콘 이미지 */
/* 
.head-icon a .bn.icon1 {
    background-position: 0 0;
}

.head-icon a .bn.icon2 {
    background-position: 0 -450px;
}

.head-icon a .bn.icon3 {
    background-position: 0 -630px;
}

.head-icon a .bn.icon4 {
    background-position: 0 -270px;
}

.head-icon a .bn.icon5 {
    background-position: 0 -360px;
}

.head-icon a .bn.icon6 {
    background-position: 0 -90px;
}

.head-icon a .bn.icon7 {
    background-position: 0 -180px;
}

.head-icon a .bn.icon8 {
    background-position: 0 -540px;
} */

/* 전체메뉴 */

.nav {
    /* 메뉴 클릭 시  active하고, 그 전에는 display:none 할 예정 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    line-height: 22px;
    font-size: 15px;
    background: rgb(210, 224, 233);

}

/* 서브메뉴 */
.nav .submenu {
    /* float: left; */
    width: 11%;
}

.nav ul li a {
    font-size: 13px;
}


/* .nav .submenu:last-child {
    width: 10%;
    float: left;
} */

/* ie9부터 사용가능 */